
@import "tailwindcss";


:root
{
  --font-body: QuicksandMedium, sans-serif;
  --absolute: absolute;
}


@font-face {
  font-family: QuicksandMedium;
  src: url('/src/app/assets/fonts/Quicksand-Medium.woff2') format('woff2');
}

body
{
  font-family: var(--font-body);
}

.title-section 
{
  position: var(--absolute);
  margin-bottom: 9vh;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 700;
  color: white;
}

.title-section::before
{
   content: attr(data-text);
   position: var(--absolute);
   top:var(--timer-position-zero);
   left:var(--timer-position-zero);
   width: var(--timer-position-zero);
   white-space: nowrap;
   height: var(--timer-responsive-size);
   color: var(--color-brand-primary);
   border-right: 2px solid #9589fa;
   overflow: hidden;
   animation: reveal 5s linear infinite;
}

@keyframes reveal {

    0% ,10%,100%
    {
        width: var(--timer-position-zero);
    }

    70%,90%{
        width: 100%;
    }
}

.button
{
  @apply w-full py-4 rounded-lg font-semibold text-xl transition-all active:scale-[0.98] text-white shadow-md hover:shadow-lg;
}

.button--enabled 
{
  @apply bg-indigo-600 hover:bg-indigo-700 cursor-pointer;
}

.button--disabled 
{
  @apply bg-gray-400 cursor-not-allowed;
}