
.recommendation-container {
    border: 3px solid #ebe6e7;
    border-radius: 0.75rem;
    width: 470px;
    max-width: var(--timer-responsive-size);
    margin: 3rem var(--button-margin-center) 0;
    animation: fadeInUp 0.5s ease-in;
    padding: 2rem;
}

.recommendation-message {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    color: #030712;
    text-align: var(--timer-alignment);
    line-height: 1.75;
    letter-spacing: 0.025em;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}